<h1>Ticket</h1>

<p>
  <strong>Name:</strong>
  <%= @ticket.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @ticket.author.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ticket.description %>
</p>

<p>
  <strong>Project:</strong>
  <%= @ticket.project.name %>
</p>

<%= link_to 'Edit', edit_project_ticket_path(@project, @ticket) %> |
<%= link_to 'Back', project_path(@project) %>
