<h1>Project</h1>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<% if @tickets.any? %>
  <%= render 'ticket_index', project: @project, tickets: @tickets %>
<% end %>
<br>
<%= link_to 'New Ticket', new_project_ticket_path(@project) %>
<br>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
